.card img {
    height: 50%;
  }
  .card {
    display: flex;
    margin: 10px;
   
    transition: all 0.5s ease;
    background: #eee;
    border: 0.1px solid #6f4e37;
  }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px #6f4e37;
    cursor: pointer;
  }
  .card span {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 90%;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    
  }