<div class="login-section">
  <h1>Login Form</h1>
  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        name="email"
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="user.email"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>

      <input
        type="password"
        name="password"
        [(ngModel)]="user.password"
        class="form-control"
        id="password"
      />
    </div>
    <div id="passwordHelpBlock" class="form-text">
      
      
      <label >{{message}}</label>
      <button type="submit" (click)="login()" class="btn btn-primary">
        Login
      </button>
      <a routerLink="/forgetPassword"> forget Password?</a>
    <div id="passwordHelpBlock" class="form-text">
      New user? <a routerLink="/signup">SignUp</a>
    </div>
  </div>
  </form>
</div>
