.hidden{
    display: none;
}
.grid{
    display: grid;
    height: 50px;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    text-align: center;
    gap: 5px;
  
    /* flex-direction: column; */
}
.bgcolor{
    background-color: rgb(140, 177, 245);
    border-bottom: solid rgb(66, 61, 61) 1px;
 /* outline: solid red 5px ; */
 
}
.bgcolor1{
    background-color: rgb(192, 212, 248);
    height: 90vh;
}
.size{
    height: 100%;
}
.details{
    height: 100%;
    border: dashed #777 0.5px;
    border-radius: 10px;
    background-color: rgb(245, 176, 242);
}
.bgcolor2{
    background-color: rgb(192, 212, 248);
    border-bottom: dashed #000 0.5px;
    /* height: 100%; */
}