<table class="table table-striped table-hover">
    <thead>
      <button routerLink = "addcake">addcake</button>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr   *ngFor = "let percake of cs.cakeSearch ; let i = index">
          <th scope="row">{{i+1}}</th>
          <td> <img  [src]="percake.image" alt="" height="40px" width="40px"></td>
          <td>{{percake.name}}</td>
          <td>{{percake.price}}</td>
          <td><i (click)="cakedetail(percake.cakeid)" class="far fa-edit"></i></td>
        </tr>
       
       
      </tbody>
  </table>