







  /* new? */
  .containers{
    display: flex
   
   
  }
  .side{
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: greenyellow;
  }
  .side > button{
    width: 100%;
    border: none;
    height: 50px;
  }
