

<div class="containers">
    <div class="side"  >
      
      <button [routerLink]= "['/']" >Summary</button>
      <button [routerLink]= "['address']" >Address</button>
      <button [routerLink]= "['address']" disabled>Address</button>
      <button [routerLink]= "['payment']">Payment</button>
      <button [routerLink]= "['payment']" disabled>Payment</button>
      <button (click) = "confirmorder()">Confirmation</button>
      <button (click) = "confirmorder()" disabled>Confirmation</button>
   
    </div>

    <router-outlet></router-outlet>


</div>