.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.521);
    padding: 50px;
    /* border: 0.5px solid black; */
  }
  .login-section form {
    width: 50%;
  }
  .login-section form input {
    margin: 20px 0;
  }
  