<!-- name
weight 
price 
ingredients 
type 
description 
eggless -->
<form >
    <input type="text" placeholder="Name" [(ngModel)] = "cakedetails.name">
    <input type="text" placeholder="Weight" [(ngModel)] = "cakedetails.name" >
    <input type="text" placeholder="Price" [(ngModel)] = "cakedetails.name">
    <input type="text" placeholder="Ingredients" [(ngModel)] = "cakedetails.name">
    <input type="text" placeholder="Type" [(ngModel)] = "cakedetails.name">
    <input type="checkbox" [(ngModel)] = "cakedetails.name" >
</form>
