<div >
    <app-carousel></app-carousel>
  </div>
  
  <!-- <app-search></app-search> -->
  
  <!-- <div class="cake-list" *ngIf="!cs.cakeSearch.length">
    <app-card *ngFor="let cake of cakeList" [cake]="cake"></app-card>
  </div> -->
  <div class="cake-list">
    <app-card ></app-card>
    <div *ngIf="cs.cakeSearch.length === 0" class="no-query">
      <p>
        <img src="assets/404.png" alt="no-found" /><br />
        No Cake found!. For your Search Query!
      </p>
    </div>
  </div>
  